@theme {
  --color-text-100: #333333;
  --color-text-200: #53555a;
  --color-text-300: #6b6b6b;

  --color-neutral-100: #ffffff;
  --color-neutral-200: #f9fafb;
  --color-neutral-300: #f7f7f7;
  --color-neutral-400: #f2f2f2;
  --color-neutral-500: #e0e0e0;
  --color-neutral-600: #c0c0c0;
  --color-neutral-700: #bdbdbd;
  --color-neutral-800: #828282;
  --color-neutral-900: #3a3a3a;

  --color-primary-100: #488fd5;
  --color-primary-200: #3785d2;
  --color-primary-300: #2d7ac8;
  --color-primary-400: #2a70b7;
  --color-primary-500: #2668a6;
  --color-primary-600: #225e96;
  --color-primary-700: #1e5385;
  --color-primary-800: #1a4974;
  --color-primary-900: #1a4974;

  --color-secondary-100: #61b9e5;
  --color-secondary-200: #50b1e2;
  --color-secondary-300: #3eaae0;
  --color-secondary-400: #2ca2dd;
  --color-secondary-500: #2298d3;
  --color-secondary-600: #1f8bc1;
  --color-secondary-700: #1d7eaf;
  --color-secondary-800: #1a729e;
  --color-secondary-900: #17658c;

  --color-red-100: #f76050;
  --color-red-200: #f64f3c;
  --color-red-300: #f53d29;
  --color-red-400: #f42b15;
  --color-red-500: #ea210b;
  --color-red-600: #d61f0a;
  --color-red-700: #c31c09;
  --color-red-800: #af1908;
  --color-red-900: #9c1607;

  --color-yellow-100: #fdf749;
  --color-yellow-200: #fdf635;
  --color-yellow-300: #fdf521;
  --color-yellow-400: #f42b15;
  --color-yellow-500: #fdf50d;
  --color-yellow-600: #f2ea02;
  --color-yellow-700: #ded702;
  --color-yellow-800: #cac302;
  --color-yellow-900: #b6b002;
}
