@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./../fonts//PlusJakartaSans/PlusJakartaSans-Italic-VariableFont_wght.ttf")
      format("ttf"),
    url("./../fonts//PlusJakartaSans/PlusJakartaSans-VariableFont_wght.ttf")
      format("ttf");
}

@theme {
  --font-primary: "Plus Jakarta Sans", sans-serif;
  --font-secondary: "Inter", sans-serif;
}

@layer base {
  :root {
    font-family: var(--font-primary);
    font-size: 16px;
    color: #333;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-primary);
  }

  a {
    text-decoration: none;
  }
}
